# Project resources
benchmarks/
device/

# MacOS
.DS_Store
# VSCode settings
.vscode/

# Visual Studio settings
.vs/

# license script
apply_license.sh

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.cmake
